<div class="article-list">
  <div class="list" [ngStyle]="{'height': autoHeight}" *ngIf="articles.length">
    <div *ngFor="let item of articles; let i=index" class="article">
      <h2>{{item.arc_title}}</h2>
      <div class="summary" [innerHTML]="item.summary"></div>
      <div>
        <a [routerLink]="'/view/article'" [queryParams]="{type:item.type,arc_id:item.arc_id}">阅读全文...</a>
      </div>
      <div class="article-info">
        发布于&nbsp;{{item.postDate}} <img src="../../assets/view.png" alt=""> {{item.views}}
        分类：<a [routerLink]="'/view'" [queryParams]="{type:item.type}">{{item.type | filterType}}</a>
      </div>
    </div>
  </div>
  <div class="list" *ngIf="!articles.length" [ngStyle]="{'height': '300px','line-height':'300px','text-align':'center'}">
    暂无文章！
  </div>
  <div class="pagination" *ngIf="articles.length">
    <button class="prePage" (click)="prePage()">上一页</button>
    <button class="nexPage" (click)="nextPage()">下一页</button>
  </div>
</div>
