<div class="article-list">
  <div class="list">
    <div *ngFor="let item of articles; let i=index" class="article">
      <h2>{{item.arc_title}}</h2>
      <div class="summary" [innerHTML]="item.content.substr(0,200)"></div>
      <div>
        <a [routerLink]="'/view/article'" [queryParams]="{type:item.type,arc_id:item.arc_id}">阅读全文...</a>
      </div>
      <div class="article-info">
        发布于&nbsp;{{item.postDate}} <img src="../../assets/view.png" alt=""> {{item.views}}
        分类：<a [routerLink]="'/view'" [queryParams]="{type:item.type}">{{item.type | filterType}}</a>
      </div>
    </div>
  </div>
  <div class="pagination">
    11
  </div>
</div>
