.article-show{
  max-width: 900px;
  min-width: 600px;
  margin:0 auto;
  .arc_title{
    text-align: center;
    color: #000;
    font-size: 24px;
    line-height: 55px;
  }
  .arc_relate{
    font-size: 14px;
    color: #6e6a6a;
    line-height: 30px;
    padding:0 15px;
    span{
      margin:0 15px;
    }
  }
  .orginal{
    font-size: 12px;
    color: #6e6a6a;
    line-height: 30px;
    padding:0 15px;
  }
}
.page-not-found{
  text-align: center;
  height: 200px;
  .errMsg{
    font-size: 20px;
    line-height: 100px;
  }
  .operation{
    height: 100px;
    text-align: center;
    button{
      font-size: 14px;
      color: #fff;
      text-align: center;
      line-height: 30px;
      width: 100px;
      margin:0 15px;
      background-color: rgb(8, 81, 150);
      user-select: none;
      border: 0px;
    }
  }
}