<div class="arc-edit">
  <form [formGroup]="articleForm" (ngSubmit)="post()">
    <div class="title">
      <input type="text" formControlName="arc_title" placeholder="请输入文章标题">
    </div>
    <div class="options">
      <label>
        <span>文章分类：</span>
        <select id="0" (change)="optionChange($event)">
          <option *ngFor="let item of types; let i=index" value="{{item.value}}" id="{{item.id}}">{{item.value}}
          </option>
        </select>
      </label>
      <label>
        <span>是否原创：</span>
        <input type="radio" formControlName="arc_orginal" name="arc_orginal" value="0" checked="{{true}}"> 是
        <input type="radio" formControlName="arc_orginal" name="arc_orginal" value="1"> 否
      </label>
      <label style="position: relative;">
        <span>关键词：</span>
        <input class="tag" placeholder="多个关键词之间用空格分开" formControlName="tags" value="{{tags.join(' ')}}">
        <button (click)="showTagsModal($event)">从模板中添加</button>
        <div *ngIf="tagModal" class="modal">
          <label *ngFor="let item of allTags" (click)="selectLabel($event,item)" class="{{item['selected']?'selected':''}}">{{item.label}}</label>
          <div class="button-group">
            <button class="cancel" type="button" (click)="cancel()">取消</button>
            <button class="add" type="button" (click)="addItem()">添加</button>
          </div>
        </div>
      </label>
    </div>
    <div class="edit">
      <froala [froalaOptions]="froalaOptions" [froalaData]="text" (model)="onFroalaModelChanged($event)"
        (editorInitialized)="onEditorInitialized()"></froala>
    </div>

    <!-- <input type="text" formControlName="content" hidden> -->
    <div class="post-msg">
      <button type="submit">发表</button>
      <button type="button" (click)="cancelPublish()">取消</button>
    </div>
  </form>
</div>
