.horizon{
  margin:10px auto;
  display: block;
  height: 30px;
  width: 900px;
  padding: 0px;
  li{
    margin:0 5px;
    line-height: 30px;
    img{
      width:20px;
      position: relative;
      top:5px;
    }
  }
}